<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('http://atwatercocktailclub.com/images/banner.png');">
  <div class="banner-content">
    <h1><img src=>Cocktails</h1>
    <p><span id="banner-typed-text"></span></p>
    <a><button type="button" class="btn-medium" data-toggle="modal" data-target="#exampleModalCenter">
  Add a Cocktail
</button></a>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "https://source.unsplash.com/400x400/?cocktail&sig=#{(1..1000).to_a.sample}" %>);">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          <p>A wonderful drink</p>
          <%= link_to cocktail_path(cocktail), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade custom-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a new Cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, :label => "Cocktail"%>
        <%= f.fields_for :dose, @dose do |g| %>
        <%= g.input :description, :label => "Description"%>
        <%= g.association :ingredient, :label => "Ingredients"%>
        <% end %>
      </div>
      <div class="modal-footer">
       <%= f.submit class: "btn-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




