<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('http://atwatercocktailclub.com/images/banner.png');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <% @cocktail.doses.each do |dose| %>
    <h3><%= dose.description%> - <%= dose.ingredient.name %></h3>
    <% end %>
    <p><span id="banner-cocktail-text"></span></p>
    <p><%= link_to "Cocktails", cocktails_path, :class => "btn btn-medium" %></p>
    <p><%= link_to "Doses", new_cocktail_dose_path(@cocktail.id), :class => "btn btn-medium" %></p>
    <p><%= link_to "Remove", cocktail_path(@cocktail), method: :delete, :class => "btn btn-medium" %></p>
  </div>
</div>


